* {
    margin: 0;
    padding: 0;
}

body {
	margin: 0px auto;
	font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #333;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}

.container {
    margin: 0px auto;
    max-width: 1280px;
}

.page-header {
	border: none;
	position: relative;
	z-index: 100;
	background-color: #fff;
}
.header-top {
	color: #444444;
	line-height: 24px;
	padding: 8px 0;
}

.header-top .container{
	display: flex;
}

.header-top a {
	color: #444444;
	cursor:pointer;
}

.header-top a:hover {
	color: #E9B02A;
}

.header-top--left,
.header-top--right {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.header-top--right {
	margin-left: auto;
}
.header-top-social {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.header-top-social a {
	margin-right: 10px;
  
}
.header-top-social--instagram,
.header-top-social--facebook {
	width: 16px;
	height: 16px;
}
.header-top-social--facebook {
	background: url(../img/ic/ic_facebook.svg) no-repeat;
}
.header-top-social--instagram {
	background: url(../img/ic/ic_insta.svg) no-repeat;
}
.header-top .separator {
	width: 1px;
	height: 21px;
	background: #C4C4C4;
	display: inline-block;
	margin: 0 10px;
}

/*header right*/

.dropbtn {
	color: #444;
	padding: 4px 16px 4px 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: #fff;
  
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 2px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-content a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #fff;
	color: #E9B02A;
	
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #fff;
}

.header-top-account a {
	position: relative;
	color: #666666;
	display: block;
	cursor: pointer;
}

.header-top-account--avatar {
	background: url(../img/ic/avatar.svg) no-repeat;
	width: 24px;
	height: 24px;
}

/*header content*/

.header-content {
	background-color:#333;
	height: 64px;
}

.header-content .container{
	display:flex;
	align-items:center;
	height: 64px;
}

.header-logo {
	width: 20%;
	min-width: 180px;
	padding-right: 20px;
}

.header-search {
	display:flex;
	width:70%;
}

#category {
	color: #444;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #e2e2e2;
    border-radius: 4px 0px 0px 4px;
    width: 64px;
	height:40px;
}


.header-search__input {
	color: #9e9e9e;
	width: 100%;
	height: 40px;
	background-color: #fff;
  
}

.header-search__input .form-control{
	border: none;
	box-shadow: none;
	outline: none;
	border-radius: 0;
	height: 40px;
    padding: 0px 16px 0px 16px;
	font-size: 16px;
}

.header-search__action {
	height: 40px;
    background: #E9B02A;
    border-radius: 0px 5px 5px 0px;
    border: none;
    box-shadow: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url(../img/ic/ic_search.svg);
    width: 53px;
    min-width: 53px;
}

#btn_search {
	width:100%;
	height:100%;
	opacity: 0%;
}

.header-cart {
	width: 10%;
    display: inline-block;
    text-align: end;
	position: relative;
}

.header-cart .cart-total {
	position: absolute;
	top: -8px;
	right: 17px;
	color: white;
	font-size: 13px;
	background: #E9B02A;
	border: 2px solid #333;
	text-align: center;
	border-radius: 50%;
	width: 18px;
	height: 18px;
}

/* menu */

.header-menu {
  	position: relative;
}

.header-menu--container {
  	position: static;
}

.header-menu--bg {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}

.header-menu--bg.active {
	visibility: visible;
}

.menu-items {
	flex-wrap: wrap;  
	display: flex;  
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-items ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-items > li {
	margin: 0;
	margin-right: 50px;
	height: 65px;
	display: flex;  
	align-items: center;
}

.menu-items > li > a {
	display: block;
	line-height: 65px;
	font-weight: normal;
	font-size: 16px;
	color: #000;
	line-height: 1;
	border-bottom: 2px solid transparent;
}

.menu-items > li > a:hover {
	color: #E9B02A;
	font-weight: 500;
	border-bottom: 2px solid #E9B02A;
}

.menu-items > li.menu-item-custom > a {
	color: #E9B02A;
	font-weight: 500;
	border-bottom: 2px solid #E9B02A;
}

.menu-items > li:hover > a {
	color: #E9B02A;
	font-weight: 500;
	border-bottom: 2px solid #E9B02A;
}

.menu-items > li:hover > .submenu {
	visibility: visible;
	transition: 0.2s;
}
.menu-items .menu-item--right {
	margin-right: 0;
	margin-left: auto;
}
.menu-items .menu-item--right > a {
	color: #E10B0B;
	font-weight: bold;
}
.menu-items .submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	margin-top: -3px;
	visibility: hidden;
	transition: 0.2s;
}
.menu-items .submenu--container {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #fff;

}

.menu-items .submenu a {
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	color: #444444;
}

.menu-items .submenu a:hover {
	color: #e9b02a;
}

.menu-items .submenu ul {
	list-style: none;
	padding: 0;
	margin: 0 0 17px;
}

.menu-items .submenu li {
	margin-bottom: 6px;
}

.menu-items .submenu .submenu-title {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 5px;
}

.menu-items .submenu .submenu-title a {
	color: #000000;
}

.menu-items .submenu .submenu-title a:hover {
	color: #e9b02a;
}

.menu-items .submenu-col {
	padding: 20px 20px 35px;
}

.menu-items .submenu-col--image {
	width: 289px;
	min-width: 289px;
	padding-left: 0;
	padding-right: 0;
}

.menu-items .submenu-col--title {
	background: #F6F6F6;
	width: 250px;
	min-width: 250px;
}

/* Main */
.main-content {
	background-color: #f8f8f8;
	padding-top: 32px;
}

.main-content .container {
	display: flex;
}

/* Sidebar */

.sidebar {
	width: 15%;
	margin-right: 40px;
}

.filter-options {
	margin-bottom: 100px;
}

.filter-options-item {
	margin-bottom: 24px;
}

.filter-options-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 14px;
	padding-right: 15px;
	position: relative;
}

.filter-options .items {
	padding: 0;
	list-style: none;
	margin: 0;
	color: #444444;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.filter-options .item {
	margin: 0 0 15px;
}

.filter-options .item label {
	display: block;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #444444;
	position: relative;
}

.filter-options .readmove {
	color: #1D8DF4;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	margin-left: 26px;
}

.filter-options .swatch-option {
	background: #FFFFFF;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 100%;
	margin-right: 10px;
	vertical-align: middle;
}

.filter-options input[type="checkbox"],
.filter-options input[type="radio"] {
	opacity: 0;
	position: absolute;
}

.filter-options input[type="checkbox"] + span,
.filter-options input[type="radio"] + span {
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.filter-options input[type="checkbox"] + span:before,
.filter-options input[type="radio"] + span:before {
	content: "";
	display: block;
	box-shadow: #A3A3A3 0px 0px 0px 1px;
	box-sizing: border-box;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background-color: #fff;
}

.filter-options input[type="checkbox"]:checked + span:before,
.filter-options input[type="radio"]:checked + span:before {
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/ic/ic_check.svg);
	background-size: 10px 10px;
}

.filter-options input[type="radio"] + span:before {
	border-radius: 100%;
}

.filter-options input[type="radio"]:checked + span:before {
	background-color: #000;
	border: 3px solid #fff;
	background-image: none;
}

.filter-options .filter-options-item--color .item {
	margin-bottom: 10px;
}

.filter-options .filter-options-item--color input[type="checkbox"] + span:before,
.filter-options .filter-options-item--color input[type="radio"] + span:before {
	top: 4px;
}

/* Page-content*/

.page-content {
	width: 90%;
}

.page-content .toolbar-products {
  margin-bottom: 27px;
}
.toolbar-amount {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #444444;
  margin: 0 0 10px;
}
.toolbar-sorter {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  padding: 0 10px;
  background: #E9E9E9;
}
.toolbar-sorter .sorter-label {
  line-height: 36px;
  margin: 12px 10px;
}
.toolbar-sorter label {
  display: inline-block;
  margin: 12px 5px;
  padding: 0;
  position: relative;
}
.toolbar-sorter label input[type="radio"] {
  opacity: 0;
  position: absolute;
}
.toolbar-sorter label input[type="radio"] + span {
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  font-weight: normal;
  cursor: pointer;
}
.toolbar-sorter label input[type="radio"]:checked + span {
  background-color: #000;
  color: #fff;
}

/* Product-item*/

ul.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    justify-content: space-between;

}

ul.product-list li {
    width: 23%;
    position: relative;
    margin-bottom: 20px;
    padding: 0 9px;
}
.product-item-info {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}
.product-item-photo {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.product-item-photo img {
  border-radius: 5px;
  display: block;
  width: 100%;
	transition: 0.45s;
}
.product-item-detail {
  padding: 10px 10px 20px;
}
.product-item-title {
  margin: 0 0 13px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-item-title a {
  color: #444444;
  transition: 0.2s;
}
.product-item-title:hover a {
  color: #e9b02a;
}
.product-item-price {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.product-item-price .price {
  margin-right: 10px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.product-item-price .buy {
  margin-left: auto;
}
.product-item-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 5px 15px;
  background: #D71414;
  z-index: 1;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 72.9%, 0% 100%);
}

.product-item-review {
  margin-top: 10px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-item-review .review {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #D3AA3E;
	padding-left: 18px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../img/ic/ic_star.svg);
}
.product-item .buy {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  padding-left: 18px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../img/ic/ic_tags.svg);
}

.product-item:hover .product-item-photo img {
 	transform: scale(1.13);
  	transition: 0.45s;
}
.product-item:hover .product-item-title a {
  color: #e9b02a;
  transition: 0.3s;
}

/*pagination*/

.pagination ul{
	display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.pagination li {
	display: flex;
	justify-content: center;
	padding: 8px;
	color: black;
	font-weight: 700;
}

.pagination a {
	padding: 8px 15px;
	border-radius: 50%;

}

.pagination a.active {
  background-color: #e9b02a;
  color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.pagination a:hover:not(.active) {
	background-color: #e0e0e0;
}

/* footer */

.page-footer {
	margin: 0;
	border: none;
	padding: 50px 0 0;
	background: #EAEAEA;
}

.page-footer a {
	color: #000;
}

.page-footer a:hover {
	color: #e9b02a;
}

.page-footer h3 {
	font-weight: 900;
	font-size: 16px;
	line-height: 19px;
	margin: 0  0 27px;
	text-transform: uppercase;
}

.page-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 23px;
}

.page-footer ul li {
	margin: 0 0 4px;
}

.page-footer ul a {
  	display: inline-block;
}

.footer-top{
	display: flex;
}

.page-footer .payment-method {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-footer .payment-method img {
  	margin-bottom: 12px;
}

.page-footer .social a {
	margin: 0 6px 6px;
	display: inline-block;
	vertical-align: middle;
}

.page-footer .appstore h3 {
	margin-bottom: 20px;
	margin-top: 35px;
	font-weight: 700;
}
.page-footer .appstore img {
	margin-bottom: 8px;
	margin-top: 4px;
}

.footer-top ul {
	display: flex;
 	padding-bottom: 25px;
 	flex-wrap: wrap;
 	justify-content: space-between;
 	width: 100%;
}

.footer-top > ul >li {
	width: 15%;
}

.page-footer .hotline {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-bottom {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding: 30px 0  35px;
	border-top: 1px solid #C4C4C4;
}

.footer-bottom b {
	font-weight: 500;
	font-size: 14px;
}


